/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #eff1f5;
  --global-code-bg-color: #e6e9ef;
  --global-text-color: #4c4f69;
  --global-text-color-light: #6c6f85;
  --global-theme-color: #dc8a78;
  --global-hover-color: #dd7878;
  --global-footer-bg-color: #dce0e8;
  --global-footer-text-color: #4c4f69;
  --global-footer-link-color: #dc8a78;
  --global-distill-app-color: #ccd0da;
  --global-divider-color: #9ca0b0;
  --global-card-bg-color: #eff1f5;
  --global-card-text-color: #6c6f85;
  --global-mantle-color: #e6e9ef;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #24273a;
  --global-code-bg-color: #444251;
  --global-text-color: #cad3f5;
  --global-text-color-light: #a5adcb;
  --global-theme-color: #f4dbd6;
  --global-hover-color: #f0c6c6;
  --global-footer-bg-color: #181926;
  --global-footer-text-color: #cad3f5;
  --global-footer-link-color: #f4dbd6;
  --global-distill-app-color: #363a4f;
  --global-divider-color: #6e738d;
  --global-card-bg-color: #363a4f;
  --global-card-text-color: #a5adcb;
  --global-mantle-color: #1e2030;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
 
 .post .highlight pre {
  background-color: #444251 !important;
  }
}
