/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #faf4ed;
  --global-code-bg-color: #fffaf3;
  --global-text-color: #575279;
  --global-text-color-light: #797593;
  --global-theme-color: #d7827e;
  --global-hover-color: #ea9d34;
  --global-footer-bg-color: #faf4ed;
  --global-footer-text-color: #4c4f69;
  --global-footer-link-color: #286983;
  --global-distill-app-color: #9893a5;
  --global-divider-color: #797593;
  --global-card-bg-color: #fffaf3;
  --global-card-text-color: #575279;
  --global-mantle-color: #f2e9e1;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #191724;
  --global-code-bg-color: #1f1d2e;
  --global-text-color: #e0def4;
  --global-text-color-light: #908caa;
  --global-theme-color: #ebbcba;
  --global-hover-color: #f6c177;
  --global-footer-bg-color: #1f1d2e;
  --global-footer-text-color: #e0def4;
  --global-footer-link-color: #31748f;
  --global-distill-app-color: #1f1d2e;
  --global-divider-color: #908caa;
  --global-card-bg-color: #1f1d2e;
  --global-card-text-color: #e0def4;
  --global-mantle-color: #26233a;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
 
 .post .highlight pre {
  background-color: #444251 !important;
  }
}
